/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22/07/2016, 12:10:02
    Author     : dijalma
*/

html, body { height: 100%; margin: 0; padding: 0; }

body {
    height: 100%;
}

header {
    height: 20%;
    box-shadow: 0 0 10px -2px #000;
    border-bottom: 1px solid #848484;
    z-index: 3;
}

#header_title {
    padding: 20px;
}

#header_functions {
    float: right;
    padding: 20px;
    margin-top: 25px;
}

.body-funcionts {
    position: fixed;
    left: 10px;
    top: 240px;
    z-index: 3;
}

.body-address {
    position: absolute;
    right: 20px;
    z-index: 3;
    top: 140px;
    width: 40%;
}

#map {
    z-index: 2;
    width: 100%;
    height: 80%;
}

.body-notification {
    width: 100%;
    height: 10%;
    position: fixed;
    bottom: 60px;
    z-index: 4;
}

#notification {
    background: #ffffff;
    box-shadow: 0px 0px 5px 1px #000;
    margin: 0 auto;
    width: 300px;
    height: 100px;
    text-align: center;
    border-radius: 2px;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-delay: 3s;
}

#notification h4 {
    padding-top: 10px;
}

#notification p {
    padding-top: 10px;
}

.modal-dijalma {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 6;
    top:0;
    display: none;
}

.modal-dark {
    width: 100%;
    height: 100%;
    background: #080808;
    opacity: 0.8;
    z-index: 5;
}

.modal-event {
    text-align: center;
    position: fixed;
    width: 400px;
    height: 340px;
    background: #ffffff;
    z-index: 7;
    top: 80px;
    left: 500px;
}

.modal-ocorrencia{
    height: 520px !important;
    text-align: left !important;
}

.modal-ocorrencia .modal-title {
    text-align: center !important;
}

textarea {
    resize: none;
}

.invisivel {
    display: none;
}

.filtros {
    text-align: center;
    width: 204px;
    background: #ffffff;
    padding: 10px;
}